<ul class="vertical menu" data-accordion-menu>

  {{#each @data key="@index" as |project|}}
  <li>
    <entity-link @name={{project.name}} @projectId={{project.slug}} />
    <ul class="menu vertical nested">
      {{#each project.children key="@index" as |child|}}
        <li>
          <entity-link @name={{child.name}} @projectId={{project.slug}} @moduleId={{child.slug}} />
        </li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>
