<section class="content-container module-landing">
  <div class="module-header">
    <span class="module-kind">{{@module.kindString}}</span> <h3>{{@module.name}}</h3>
  </div>
  {{#if @module.sources}}
    <source-link @sources={{@module.sources}} />
  {{/if}}
  {{#if module.extendedTypes}}
    <div class="hierarchy-meta">
    <h3>Extends</h3>

    {{#each @module.extendedTypes key="@index" as |extends|}}
      <type-annotation @type={{extends}} />
    {{/each}}
    </div>
  {{/if}}

  {{#if @module.implementedTypes}}
    <div class="hierarchy-meta">
    <h3>Implements</h3>

    {{#each @module.implementedTypes key="@index" as |implements|}}
      <type-annotation @type={{implements}} />
    {{/each}}
    </div>
  {{/if}}

  {{#if @module.comment}}
    <div class="overview">
      <h3>Overview</h3>
      <markdown-viewer class="intro" @text={{@module.comment.shortText}} />
      <markdown-viewer @text={{@module.comment.text}} />
    </div>
  {{/if}}

  {{#if @module.constructors}}
    <div class="constructors">
      <h3>Constructor</h3>

      <method-list @methods={{@module.constructors}} />
    </div>
  {{/if}}

  {{#if @module.methods}}
    <h3>Methods</h3>

    <method-list @hasMethodCategories={{@module.hasMethodCategories}} @methods={{@module.methods}} />
  {{/if}}

  {{#if module.properties}}
    <variable-list @label="Properties" @variables={{@module.properties}} />
  {{/if}}
</section>
