<section class="content-container">
  <h5 class="project-breadcrumb" onclick={{action @showProject project.slug}}></h5>
  <div class="module-header">
    {{@module.kindString}} <h3>{{@module.name}}</h3>
  </div>
  {{#if @module.sources}}
    {{#unless @module.isFunction}}
      <source-link @sources={{@module.sources}} />
    {{/unless}}
  {{/if}}
  {{#if @module.extendedTypes}}
    <div class="hierarchy-meta">
    <strong>Extends</strong>

    {{#each @module.extendedTypes key="@index" as |extends|}}
      <type-annotation @type={{extends}} />
    {{/each}}
    </div>
  {{/if}}

  {{#if @module.implementedTypes}}
    <div class="hierarchy-meta">
    <strong>Implements</strong>

    {{#each @module.implementedTypes key="@index" as |implements|}}
      <type-annotation @type={{implements}} />
    {{/each}}
    </div>
  {{/if}}

  {{#if @module.comment}}
    <div class="readme">
      {{{@module.comment.text}}}
    </div>
  {{/if}}

  {{#if @module.constructors}}
    <div class="constructors">
      <h4>Constructor</h4>

      <method-list @methods={{@module.constructors}} />
    </div>
  {{/if}}

  {{#if @module.methods}}
    <h4>Methods</h4>

    <method-list @hasMethodCategories={{@module.hasMethodCategories}} @methods={{@module.methods}} />
  {{/if}}

  {{#if @module.signatures}}
    <div class="methods-list">
      <method-item @method={{@module}} />
    </div>
  {{/if}}

  {{#if @module.properties}}
    <variable-list @label="Properties" @variables={{@module.properties}} />
  {{/if}}
</section>
