<li id="method-{{@method.slug}}">
  <ol class="signatures-list">
    {{#each @method.signatures key="@index" as |signature|}}
      <li>
        <div class="method-signature">
          <h5>
            <div class="access">
              {{#if @method.flags.isProtected}}
                protected 
              {{else if @method.flags.isPrivate}}
                private 
              {{else}}
                public 
              {{/if}}
            </div>
            {{#if @method.flags.isStatic}}
              <div class="signature-modifiers">
                static
              </div>
            {{/if}}
            <a href="#method-{{@method.slug}}">
              {{signature.name}}
            </a>
          </h5>
          <ol class="parameters">
            {{#if signature.parameters}}
              {{#each signature.parameters key="@index" as |param|}}
                <li>
                  <div class="param-name">{{param.name}}</div>
                </li>
              {{/each}}
            {{/if}}
          </ol>

          <div class="return-type">
            <type-annotation @type={{signature.type}} />
          </div>
        </div>
        {{#if signature.hasBody}}
          <div class="method-body">
            {{#if signature.parameters}}
              <strong class="sub">Arguments</strong>
              <ol class="parameters-list">
                {{#each signature.parameters key="@index" as |param|}}
                <li>
                  {{param.name}}: <type-annotation @type={{param.type}} />
                </li>
                {{/each}}
              </ol>
            {{/if}}
            {{#if signature.comment}}
              <markdown-viewer @text={{signature.comment.shortText}} />
              <markdown-viewer @text={{signature.comment.text}} />
            {{/if}}
          </div>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</li>
