<div class="methods-list">
  {{#if @hasMethodCategories}}
    {{#each categories key="@index" as |category|}}
      <div class="method-category">
        <h4 id="method-category-{{category.slug}}">{{category.name}}</h4>
        <ul>
          {{#each category.methods key="@index" as |method|}}
            <method-item @method={{method}} />
          {{/each}}
        </ul>
      </div>
    {{/each}}
  {{else}}
    {{#each @methods key="@index" as |method|}}
      <method-item @method={{method}} />
    {{/each}}
  {{/if}}
</div>
