<div class="type-annotation">
  {{#if @type.link}}
    <entity-link @name={{@type.name}} @projectId={{@type.link.parent.slug}} @moduleId={{@type.link.slug}} />
  {{else}}
    <span class="type">{{@type.name}}</span>
  {{/if}}
  {{#if @type.isArray}}
    <span class="isArray">[]</span>
  {{/if}}
  {{#if @type.isOptional}}
    <span class="isArray">?</span>
  {{/if}}
</div>
