<div>
  <section class="content-container readme">
    {{{@project.readme}}}
  </section>

  <section class="content-container project-container">
    {{#if @project.interfaces}}
      <ModuleList
          @projectId={{@project.id}}
          @title="Interfaces"
          @modules={{@project.interfaces}}
          />
    {{/if}}

    {{#if @project.classes}}
      <ModuleList
          @projectId={{@project.id}}
          @title="Classes"
          @modules={{@project.classes}}
          />
    {{/if}}

    {{#if @project.functions}}
      <strong>Functions</strong>
      <MethodList @methods={{@project.functions}} />
    {{/if}}

    {{#if @project.objectLiterals}}
      <VariableList @label="Object Literals" @variables={{@project.objectLiterals}} />
    {{/if}}

    {{#if @project.typeAliases}}
      <VariableList @label="Type Aliases" @variables={{@project.typeAliases}} />
    {{/if}}

    {{#if @project.variables}}
      <VariableList @label="Variables" @variables={{@project.variables}} />
    {{/if}}
  </section>
</div>
