<div id="top-menu">
  <button onclick={{action toggleNav}} id="menu-toggle" class="hamburger hamburger--elastic" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <h1><a href="/api/" onclick={{action showIndex}}>{{model.main.title}}</a></h1>
</div>

<div class="row" id="column-container">
  <div class="four columns" id="menu-container">
    <left-menu @data={{model.menu}} />
  </div>
  <div class="eight columns" id="content-container">
    <!-- module won't be used for project-landing -->
    {{#if theCurrentView.componentName}}
      {{component theCurrentView.componentName
          project=theCurrentView.project
          module=theCurrentView.module
          showProject=(action showProject)
          }}
    {{else if theCurrentView.notFound}}
      <not-found @showIndex={{action showIndex}} />
    {{else}}
      <section class="content-container">
        <p>
          {{{model.main.intro}}}
        </p>
      </section>
    {{/if}}
    <section id="footer">
      <ol class="links">
        <li><a href="/">Glimmer Home</a></li>
        <li><a href="/">Glimmer API</a></li>
      </ol>
      <div class="copyright">
        ©2017 Ember.js
      </div>
    </section>
  </div>
</div>
