<div>
  <section class="content-container readme">
    {{{@project.readme}}}
  </section>

  <section class="content-container project-container">
    {{#if @project.interfaces}}
      <module-list @project={{@project.id}} @title="Interfaces" @modules={{@project.interfaces}} />
    {{/if}}

    {{#if @project.classes}}
      <module-list @project={{@project.id}} title="Classes" @modules={{@project.classes}} />
    {{/if}}

    {{#if @project.functions}}
      <strong>Functions</strong>
      <method-list @methods={{@project.functions}} />
    {{/if}}

    {{#if @project.objectLiterals}}
      <variable-list @label="Object Literals" @variables={{@project.objectLiterals}} @showModule={{action @showModule}} />
    {{/if}}

    {{#if @project.typeAliases}}
      <variable-list @label="Type Aliases" @variables={{@project.typeAliases}} @showModule={{action @showModule}} />
    {{/if}}

    {{#if @project.variables}}
      <variable-list @label="Variables" @variables={{@project.variables}} @showModule={{action @showModule}} />
    {{/if}}
  </section>
</div>
